body{
    background-image: url("../../assets/sunset-pixel-art-landscape-scenery-digital-art-uhdpaper.com-4K-4.2066.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.gridContainer {
    display: grid;
    outline: 6px solid black;
    gap: 20px;
    grid-template-columns: 1fr 6fr;
}

.navBar{
    grid-column-start: 1;
    grid-column-end: 4;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 6px solid black;
}

.grid {
    display: grid;
    outline: 6px solid black;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.paginado{
    grid-column-start: 1;
    grid-column-end: 4;
}