.gridContainer {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    padding-top: 4%;
    gap: 20px;
}

.grid {
    padding: 1.6rem 0.5rem 1.25rem 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}