.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    z-index: 200;
}

.errorCard {
    border-radius: 15px;
    width: 600px;
    padding: 10px 25px 20px 25px;
    background: linear-gradient(rgb(247, 241, 241), rgb(223, 211, 211));
}

.errorCard img {
    width: 600px;
}

.button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(240, 90, 90);
    font-size: 25px;
    cursor: pointer;
}