.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    z-index: 200;
}

.errorCard {
    border-radius: 15px;
    width: 600px;
    padding: 10px 25px 20px 25px;
}