:root{
    --button-height: 3rem;
    --color-text: rgba(0,0,0,.25);
    --color-text-shadow: rgba(255,255,255,.15);
    --color-page-bg:#B9B5AA;
    --color-bg:#899095;
    --color-bg-light:#969DA3;
    --color-bg-dark: #7D878F;
    --color-overlay-light: rgba(255,255,255,.2);
    --color-overlay-medium: rgba(0,0,0,.1);
    --color-overlay-dark: rgba(0,0,0,.2);
    --color-tab-focus: rgba(255,255,255,.15);
  }

.container{
    width: 100%;
    max-width: 1200px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.card {
    display: grid;
    width: 430px;
    height: 420px;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(43, 42, 42, 0);
    overflow: hidden;
    margin: 20px;
    background:var(--color-bg);
    text-align: center;
    transition: all 0.25s;
    gap: 5px
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.25);
}

.img {
    width: 430px;
    height: 220px;
    margin: 0px;
}

.name{
    margin: 5px;
    height: fit-content;
    color:rgba(0, 0, 0, 0.39);
    text-shadow: 1px 1px rgba(255,255,255,.15);  
    font-family: sans-serif;
    font-weight:800;
}

.rate{
    margin: 0px;
    font-size: 25px;
    color:rgba(216, 209, 76, 0.534); 
    font-family: sans-serif;
    font-weight:800;
    
}

.genre{
    margin: 10px;
    color:rgba(0, 0, 0, 0.308);
    text-shadow: 1px 1px rgba(255,255,255,.15);  
    font-family: sans-serif;
    font-weight:800;
}